/* Typography */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Metrophobic);
body {
	font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p, .panel {
	font-family: 'Metrophobic', Helvetica, Arial, sans-serif;
}
.light {
	font-weight: 300;
}
.shadow {
	text-shadow: black 0.2em 0.2em 0.4em;
}

/* Navbar */
.navbar-black {
	background-color: #0b0c0c;
	border-color: #0b0c0c;
}
.navbar-brand {
	color: #fff;
}
.navbar-fixed-top {
	position: absolute;
}

/* Homepage masthead */
body {
  padding-top: 50px;
}
.home-masthead {
  position: relative;
  padding: 40px 40px 80px 40px;
  text-align: center;
  background: #005ea5;
  color: #fff;
  background-image: url('../img/people.jpg');

  display: table;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

/* Indicators */
.indicators {
	padding-top: 40px;
}
.panel {
	border: 0px solid transparent;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.panel-heading {
	border-bottom: 0px solid transparent;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.panel-black {
	border-color: #0b0c0c;
}
.panel-black > .panel-heading {
	background-color: #0b0c0c;
	color: #fff;

}

/* Font Awesome colors */
.fa-success {
  color: #32cd32;
}
.fa-warning {
  color: #ffc40c;
}
.fa-danger {
  color: #fa342e;
}

